appdirs==1.4.4
blessed==1.20.0
certifi==2024.8.30
cjio==0.9.0
click==8.1.7
contourpy==1.3.1
cycler==0.12.1
ezdxf==1.3.4
flyingcircus==0.1.4.1
flyingcircus-numeric==0.1.1.4
fonttools==4.55.0
imageio==2.36.0
kiwisolver==1.4.7
lazy_loader==0.4
matplotlib==3.9.2
networkx==3.4.2
numpy==2.1.3
orjson==3.10.12
packaging==24.2
pillow==11.0.0
pyparsing==3.2.0
pyproj==3.7.0
python-dateutil==2.9.0.post0
raster-geometry==0.1.4.2
scikit-image==0.24.0
scimage==0.1.7
scipy==1.14.1
setuptools==75.6.0
setuptools-scm==8.1.0
six==1.16.0
tifffile==2024.9.20
tqdm==4.67.0
typing_extensions==4.12.2
wcwidth==0.2.13
